.mainOne{
    margin-bottom: 10%;
}

.cancel{
    position: absolute;
    right: 30px;
    top: 30px;
}

.titleText{
    position : absolute;
    left: 15px;
    top: 30px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 59px;


}

.stepNumber{
    position: absolute;
    width: 431px;
    height: 67px;
    left: 30px;
    top: 600px;
    font-family: Roboto;
font-style: italic;
font-weight: bold;
font-size: 40px;
line-height: 56px;

}

.paginationDiv{
    position: fixed; 
    left: 45%;
    top: 90%;
    width: 270px;
    height: 116px;  
    bottom: 20%;
    
}

.pag{
    position: absolute;
    display: inline-block;
    background: #C4C4C4;
    border-radius: 19px;
    width: 160px;
    height: 50px;
    padding: 20px;
    
}